body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* moedas */
.moedas {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.moeda {
  flex: 1;
  padding: 10px;
  background: #1f2937;
  border: none;
  color: #aaa;
  cursor: pointer;
}

.moeda.active {
  background: #2563eb;
  color: white;
}

/* info */
.info {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.box {
  flex: 1;
  background: #111827;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
}

/* gráfico */
#chart {
  height: 420px;
  margin-bottom: 15px;
}

/* análise */
.analise {
  background: #111827;
  padding: 15px;
  border-radius: 10px;
}

#sinal {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid div {
  background: #1f2937;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
}

.grid span {
  font-size: 12px;
  color: #aaa;
}
.big-sinal {
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.probabilidades {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  font-size: 14px;
}

.zona {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.leitura {
  margin-top: 15px;
  background: #0f172a;
  padding: 12px;
  border-radius: 8px;
  font-size: 13px;
  color: #cbd5e1;
  line-height: 1.4;
}
.btn-ai {
  width: 100%;
  padding: 10px;
  background: #6c5cff;
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
